
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <% if pin.user %>
        <div class="pin-user">
          <div class="pin-user-image">
            <%= link_to image_tag(pin.user.avatar).to_s, pin.user %>
          </div> 
          <strong>
            <%= link_to pin.user.username, pin.user %>
          </strong>
        </div>
        <% end %>
        <div class="placetime">
          Posted <%= local_time_ago pin.created_at %>
        </div>
        <div class="vote_count">
          <%= pin.get_likes.size %>
            <% if pin.get_likes.size == 1 %>
             user likes this
            <% else %>
             users like this
            <% end %>
        </div> 
        <% if user_signed_in? %>
        <div class="votes">
          <% if current_user.liked? pin %>
            <%= link_to unlike_pin_path(pin), method: :get, remote: true, class: 'unlike_pin' do %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
             Unlike
            <% end %>
          <% else %>
            <%= link_to like_pin_path(pin), method: :get, remote: true, class: 'like_pin' do %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
             Like
            <% end %>
          <% end %>
        </div>
        <% end %>
        <% if current_user && pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Do you want to delete this pin?', title: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>