<%= link_to pins_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-menu-left"></span>
  Back
<% end %>
<p></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url, class: "pin-image" %>
      </div>
      <div class="panel-body">
        <p><%= @pin.description %></p>
        <% if @pin.user %>
        <div class="pin-user">
          <div class="pin-user-image">
            <%#= link_to image_tag(@pin.user.avatar).to_s, @pin.user %>
            <%= link_to @pin.user.avatar.url do %>
              <%= image_tag @pin.user.avatar.url, class: "thumbnail" %>
            <% end %>
          </div> 
          <strong>
            <%= link_to @pin.user.username, @pin.user %>
          </strong>
        </div>
        <% end %>
        <div class="placetime">
          Posted <%= local_time_ago @pin.created_at %>
        </div>
        <div class="vote_count">
          <%= @pin.get_likes.size %>
            <% if @pin.get_likes.size == 1 %>
              user likes this
            <% else %>
              users like this
            <% end %>
        </div> 
        <% if user_signed_in? %>
        <div class="votes">
          <% if current_user.liked? @pin %>
            <%= link_to unlike_pin_path(@pin), method: :get, remote: true, class: 'unlike_pin' do %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
             Unlike
            <% end %>
          <% else %>
            <%= link_to like_pin_path(@pin), method: :get, remote: true, class: 'like_pin' do %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
             Like
            <% end %>
          <% end %>
        </div>
        <% end %>
        <% if current_user && @pin.user == current_user %>
         <%= link_to edit_pin_path(@pin) do %>
           <span class="glyphicon glyphicon-edit"></span>
             Edit
          <% end %>
          <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>