<div class="main">
    <div class="cover">
        <img src="https://c.o0bg.com/rf/image_1200w/Boston/2011-2020/2015/11/11/BostonGlobe.com/BigPicture/Images/2015-11-11T173902Z_1576878953_GF20000055180_RTRMADP_3_USA-VETERANSDAY-4452.jpg" />
    </div>
    <div class="profile">
        <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div id="name">
    <h1>
      <%= @user.full_name %> <small>@<%= @user.username %></small>
    </h1>
    </div>
</div>
<p>
<%= @user.email %><br />
Active since <%= @user.created_at.strftime("%d/%m/%Y") %>
</p>
<% if @user == current_user %>
<div class="actions">
  <%= link_to activities_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-list"></span> My activity
  <% end %>

  <%= link_to edit_user_registration_path, class: "btn btn-warning" do %>
    <span class="glyphicon glyphicon-cog"></span> Edit account
  <% end %>
</div>
<% end %>