<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-heading center">
    <div class="panel-title">
      <h1>
      <%= @user.full_name %> <small>@<%= @user.username %></small>
      </h1>
    </div>
    <div class="property-image">
      <center><%= image_tag @user.avatar.url.to_s, class: "property-image" %></center>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <%= @user.email %><br />
      Active since <%= @user.created_at.strftime("%d/%m/%Y") %>
    </p>

    <% if @user == current_user %>
    <p>
      Bids info for user goes here.
    </p>
    <% end %>

  </div>
  <div class="panel-footer center">
<% if @user == current_user %>
<div class="actions">
  <%= link_to activities_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-list"></span> My activity
  <% end %>

  <%= link_to edit_user_registration_path, class: "btn btn-warning" do %>
    <span class="glyphicon glyphicon-cog"></span> Edit account
  <% end %>
</div>
<% end %>
  </div>
</div>
</div>
</div>