<%= form_for @property, html: {multipart: true} do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :postcode, "Postcode or ZIP" %><br>
    <%= f.text_field :postcode, class: "form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :country %> <small><i>Select one option below</i></small>
    <%= f.country_select(:country, {selected: @property.country}, {class: "form-control"}) %>
  </div>

  <div class="actions col-md-12">
    <%= f.button "Save property", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spropertyner fa-sproperty'></i> Saving property..."} %>
  </div>
<% end %>
