    <div class="box panel panel-default">
      <%= link_to image_tag(property.image.url).to_s, property if property.image? %>
    <div class="panel-heading center">
    <h2><%= property.title %></h2> <small>in <%= property.city %>, <%= property.state %> (<%= property.country %>)</small>
    </div>
      <div class="panel-body">
        <%= property.description_short %><br/>
        <% if property.user %>
        <div class="pin-user">
          <div class="pin-user-image">
            <%= link_to image_tag(property.user.avatar).to_s, property.user %>
          </div> 
          <strong>
            <%= link_to property.user.username, property.user %>
          </strong>
        </div>
        <% end %>
        <div class="vote_count">
        # vote count will go here
        </div> 
        <% if user_signed_in? %>
        # voting goes here
        <% end %>
        <% if current_user && property.user == current_user %>
          <div class="actions">
            <%= link_to edit_property_path(property) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to property, method: :delete, data: { confirm: 'Do you want to delete this property?', title: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>