<%= form_for @property, url: wizard_path, html: {multipart: true} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Tell us a little bit about your property</h2>
    </div>
  </div>
  <div class="panel-body">
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-12">
    <%= f.label :description_short %><br>
    <%= f.text_area :description_short, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :description_long %><br>
    <%= f.text_area :description_long, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group col-md-12">
        <%= f.button "Continue", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spropertyner fa-sproperty'></i> Loading next step..."} %>
  </div> 
  </div>
</div>
<% end %>
