<%= form_for @property, url: wizard_path, html: {multipart: true} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Let's post some pictures!</h2>
    </div>
  </div>
  <div class="panel-body">
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @property.property_pictures.any? %>
    <% @property.property_pictures.each do |property_picture| %>
      <ul>
        <%= image_tag property_picture.avatar_url.url(:thumb) %>
        <%= property_picture.name if property_picture.name? %>
      </ul>
    <% end %>
  <% else%>
    <p>no pics here</p>
  <% end %>

  <%= f.fields_for :property_pictures do |property_picture| %>
  <div class="form-group col-md-12">
    <%= property_picture.label :avatar_url, "Add a pic" %><br>
    <%= property_picture.hidden_field :avatar_url_cache %>
    <%= property_picture.file_field :avatar_url, class: "form-control" %>
    <%= property_picture.check_box :_destroy %>
    <%= property_picture.label :_destroy, 'remove' %>
  </div>
  <% end %>

  <div class="form-group col-md-12">
        <%= f.button "Finish", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving property..."} %>
  </div> 
  </div>
</div>
<% end %>