<h1>My Activities (<%= @activities.count %>)</h1>
<% @activities.each do |activity| %>
  <div class="activity">
  <% if activity.owner %>
  <%= link_to (image_tag activity.owner.avatar(:mini)), activity.owner %>
    <%= link_to activity.owner.full_name, activity.owner %>
    <% end %>
    <%= render_activity activity %>
    <span class="timestamp">
     <%= time_ago_in_words(activity.created_at) %> ago.
  </span>
  </div>
<% end %>

<div class="center">
   <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
</div>